---
interface Props {
  titulo: string
  descripcion: string
  url: string
  urlV: string
  key: string
}

const { titulo, descripcion, url, urlV } = Astro.props
---

<li class='clase'>
  <header>
    <p class='angosto'><strong>{titulo}</strong></p>
    <p class='ancho'><strong>{titulo}: </strong><i>{descripcion}</i></p>
  </header>
  <div class='botones'>
    <a href={url}>PDF</a>
    <a href={urlV}>Video</a>
  </div>
</li>
<style>
  h3 {
    color: #232323;
    margin: 0;
    padding: 0;
  }

  p {
    font-size: 15px;
    padding: 0;
  }

  header {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  strong {
    font-size: 20px;
  }

  .clase {
    border: #a9a8a838 1px solid;
    border-radius: 10px;
    background: #a9a8a838;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .clase:hover {
    box-shadow: #a9a8a8 0px 0px 5px;
    outline: #a9a8a8 2px dotted;
  }

  .botones {
    display: flex;
    padding: 10px;
    gap: 10px;
  }

  .botones a {
    text-decoration: none;
    color: #2fa6aaa0;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    background: white;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.3s ease;
  }

  .botones a:hover {
    background: #2fa6aa81;
    color: white;
    transition: all 0.3s ease;
  }

  .ancho {
    display: none;
  }

  @media (min-width: 768px) {
    .ancho {
      display: block;
    }

    .angosto {
      display: none;
    }
  }
</style>
